/* STYLES FOR STATIC CONTENT */

/* LANDING PAGE */
body {
  background-color: #111;
}

/* HEADER */
header {
  background-image: linear-gradient(#666, #111);
  padding: 8px;
}
.fa-paw {
  color: #ffdf46;
}
header h1 {
  color: #ffdf46;
  display: inline;
  font-size: 35px;
  font-family: "Fredoka One", cursive;
}

/* ABOUT SECTION */
#about-section {
  background-color: #ddd;
}
#about-header {
  padding: 8px;
  cursor: pointer;
}
#about-header h2 {
  display: inline;
  font-family: "Fredoka One", cursive;
  font-weight: 100;
  font-size: 25px;
}
.fa-sort-down {
  position: relative;
  top: -3px;
}
#about-hide {
  display: none;
  padding: 8px 30px;
  min-height: calc(100vh - 58px - 50px - 58px);
}
#about-hide p {
  font-size: 14px;
}
#about-exit {
  cursor: pointer;
}

/* MAIN CONTENT SECTION */
#main-content {
  display: block;
  border-top: 4px solid #ddd;
}
.main-content-height {
  min-height: calc(100vh - 58px - 50px - 4px - 58px);
}
.yellow-button {
  background-color: #111;
  border: 3px solid #ffdf46;
  border-radius: 15px;
  padding: 14px 30px;
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  color: #ffdf46;
}

/* FOOTER */
footer {
  display: block;
  height: 58px;
  background-color: #444;
}
footer p {
  color: #777;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

/* DYNAMICALLY-CREATED CONTENT STYLES: */

/* CATALOGUE */
#catPhoto {
  width: 100%;
  max-width: 600px;
  height: 465px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.thumb-button {
  background-color: #111;
  border: 3px solid #ffdf46;
  border-radius: 10px;
  padding: 7px 15px;
  color: #ddd;
  margin: 10px 10px;
}

/* CAT SELECT */
.page-header {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  color: #ddd;
  margin: 15px 0;
}
.pet-result {
  padding: 8px;
  background-image: linear-gradient(#444, #222);
  border-radius: 15px;
  width: 100%;
  max-width: 345px;
}
.pet-result-img {
  border-radius: 15px;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url("/images/short.tabby.med.11.jpg");
}
.pet-result-name {
  font-family: "Fredoka One", cursive;
  font-size: 25px;
  color: #ffdf46;
  margin-top: 8px;
}
.pet-result p {
  color: #ddd;
  margin: 0;
}

/* STYLES TO DELETE ONCE DYNAMIC CONTENT IS IMPLEMENTED */

/* CATALOGUE */
.catalogue-height {
  /* Will need to dynamically reset min-height of .main-content-height once the about section is dynamically removed */
  min-height: calc(100vh - 58px - 4px - 58px);
}
#catPhoto {
  /* Will need to dynamically change background image of this div when user clicks like/dislike button */
  background-image: url("../../images/short.white.10.jpg");
}

/* CAT SELECT */
